.音乐播放器-full-dialog {
    z-index: 101;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.65);
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

@keyframes 音乐播放器-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes 音乐播放器-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
